<!-- About and Media -->
<section>
  <div
    class="about-&-media container-fluid text-align mt-2"
    style="background-color: #dc0428"
  >
    <div class="row big-footer">
      <div class="col-4">
        <h2>Top Notch</h2>
        <p>
          <a href="https://maps.app.goo.gl/5dqFaps7eGoZG3qN9">
            <i
              class="fa fa-map-marker"
              aria-hidden="true"
            ></i>
            <!-- <i class="fas fa-map-marker-alt"></i> -->
            2116 W 95th St. Chicago, IL 60643</a
          >
        </p>
        <p>
          <a href="tel:773-445-7218"><i class="fa fa-phone"></i>773-445-7218</a>
        </p>
        <p>Hours: Mon - Sat, 8am-8pm</p>
      </div>
      <div class="col-4">
        <p><a href="">About us</a></p>
        <p>
          <a href="https://www.facebook.com/topnotchbeverly"
            >Follow Us on Facebook</a
          >
        </p>
        <p>
          <a
            href="https://www.yelp.com/biz/top-notch-beef-burgers-chicago?start=20"
            >Reviews on Yelp</a
          >
        </p>
      </div>
      <div class="col-4">
        <!-- <div class="text-center"> -->
        <!-- Image of the building -->
        <img
          src="/images/outsidesign.jpg"
          alt=""
          style="height: 400px"
        />
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<div class="col-12">
  <footer class="footer py-2 mt-auto">
    <div
      class="container"
      style="text-align: center"
    >
      <span class="text-muted">&copy; 2023 TopNotch BeefBurgers</span>
    </div>
  </footer>
</div>
