<!-- About and Media -->
<section>
  <div class="aboutandmedia container-fluid text-align mt-2">
    <div class="row big-footer">
      <div class="col-4 pt-4">
        <span class="logo-text">Top Notch </span>
        <p>
          <a
            href="https://maps.app.goo.gl/5dqFaps7eGoZG3qN9"
            class="footer-tag footer-tag"
          >
            <i
              class="fa fa-map-marker"
              aria-hidden="true"
            ></i>
            2116 W 95th St. Chicago, IL 60643</a
          >
        </p>
        <p>
          <a
            href="tel:773-445-7218"
            class="footer-tag"
            ><i class="fa fa-phone"></i>773-445-7218</a
          >
        </p>
        <p class="hours">Hours: Mon - Sat, 8am - 8pm</p>
      </div>
      <div class="col-4 pt-4">
        <p>
          <a
            href="#"
            class="footer-tag"
            >About us</a
          >
        </p>
        <p>
          <a
            href="https://www.facebook.com/topnotchbeverly"
            class="footer-tag"
            >Follow Us on Facebook</a
          >
        </p>
        <p>
          <a
            href="https://www.yelp.com/biz/top-notch-beef-burgers-chicago?start=20"
            class="footer-tag"
            >Reviews on Yelp</a
          >
        </p>
      </div>
      <div class="col-4">
        <img
          src="/images/outsidesign.jpg"
          class="footer-img"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<!-- Footer -->
<div class="col-12">
  <footer class="footer py-2 mt-auto">
    <div
      class="container"
      style="text-align: center"
    >
      <span class="text-muted">&copy; 2023 TopNotch BeefBurgers</span>
    </div>
  </footer>
</div>
