<!-- Header -->
<div class="col-12">
  <!-- header-tag -->
  <div class="header container-fluid">
    <div class="row text-align justify-content-between">
      <div class="col-sm-6 heading">
        <div class="row">
          <img
            src="/images/topnotch-logo.png"
            class="col-4 logo-img mt-2 mb-2"
            alt=""
          />
          <span class="col-4 logo-text">Top Notch </span>
        </div>
      </div>
      <div class="col-6 d-none d-lg-block mt-4 heading middle-header">
        <p
          class="header-celebrate"
          style="font-weight: bolder; font-size: 18px"
        >
          Beverly Hills 95th Street
        </p>
        <a
          class="header-celebrate"
          style="text-decoration: none"
          href="/onlineordering"
        >
          <i
            class="fa fa-map-marker"
            aria-hidden="true"
          ></i>
          Online Ordering Available</a
        >
      </div>
      <div
        class="col-sm-6 mt-4 hours heading right-header"
        style="padding-left: 4cap"
      >
        <p><i class="fa fa-phone"></i>773-445-7218</p>
        <p>Open: Mon - Sat, 8am-8pm</p>
      </div>
    </div>
  </div>
</div>
<!-- Top Navbar -->
<div class="bg-red">
  <div class="big-header d-flex flex-row justify-content-start">
    <div class="header-button">
      <a
        href="/"
        class="header-tag"
        >Home</a
      >
    </div>
    <div class="header-button">
      <a
        href="/lunch&dinner/beefburgers"
        class="header-tag"
        >Menu</a
      >
    </div>
    <div class="header-button">
      <a
        href="/carryout"
        class="header-tag"
        >Carryout</a
      >
    </div>
    <div class="header-button">
      <a
        href="/orderonline"
        class="header-tag"
        >Order Online</a
      >
    </div>
  </div>
</div>
