<!-- Header -->
<div class="col-12">
  <section>
    <div class="header container-fluid">
      <div class="row text-align justify-content-between">
        <div class="col-6 logo">
          <div class="row">
            <img
              src="/images/topnotch-logo.png"
              class="col-4 logo-img mt-2 mb-2"
              style="height: 100px; width: auto"
              alt=""
            />
            <span class="col-4 logo-text">Top Notch </span>
          </div>
        </div>
        <div class="col-6 mt-4 hours">
          <p><i class="fa fa-phone"></i>773-445-7218</p>
          <p>Hours: Mon - Sat, 8am-8pm</p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Top Navbar -->
<div
  class=""
  style="background-color: #dc0428"
>
  <div class="big-header d-flex flex-row justify-content-start">
    <div
      class="header-button"
      style="font-size: 26px"
    >
      <a
        href="/"
        class="header-tag"
        >Home</a
      >
    </div>
    <div
      class="header-button"
      style="font-size: 26px"
    >
      <a
        href="/lunch&dinner/beefburgers"
        class="header-tag"
        >Menu</a
      >
    </div>
    <div
      class="header-button"
      style="font-size: 26px"
    >
      <a
        href="/carryout"
        class="header-tag"
        >Carryout</a
      >
    </div>
    <div
      class="header-button"
      style="font-size: 26px"
    >
      <a
        href="#"
        class="header-tag"
        >Order Online</a
      >
    </div>
  </div>
</div>
