<!-- Header -->
<div class="col-12">
  <section>
    <div class="header container-fluid">
      <div class="row text-align justify-content-between">
        <div class="col-sm-6 col-md-4 logo">
          <img
            src="/images/topnotch-logo.png"
            class="logo-img mt-2 mb-2"
            height="100px"
            alt=""
          />
          <span>Top Notch </span>
        </div>
        <div class="col-sm-6 col-md-4 mt-4">
          <p><i class="fa fa-phone"></i>773-445-7218</p>
          <p>Hours: Mon - Sat, 8am-8pm</p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Top Navbar -->
<section>
  <div
    class=""
    style="background-color: red"
  >
    <div class="big-header d-flex flex-row mb-3 justify-content-start">
      <div
        class="btn btn-outline-secondary"
        style="font-size: 26px"
      >
        <a href="/">Home</a>
      </div>
      <div
        class="btn btn-outline-secondary"
        style="font-size: 26px"
      >
        <a href="/lunch&dinner/beefburgers">Menu</a>
      </div>
      <div
        class="btn btn-outline-secondary"
        style="font-size: 26px"
      >
        <a href="#">Carryout</a>
      </div>
      <div
        class="btn btn-outline-secondary"
        style="font-size: 26px"
      >
        <a href="#">Order Online</a>
      </div>
    </div>
  </div>
</section>
