<!-- Navbar -->
<nav
  class="navbar sidenav pe-2 rounded d-flex"
  style="background-color: red"
>
  <!-- Breakfast -->
  <div
    class="container-fluid big-button pt-2"
    style="background-color: red"
  >
    <a
      class="navbar-brand btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#breakfast"
      aria-expanded="false"
      aria-controls="breakfast"
      >Breakfast</a
    >
    <div style="min-height: 100%">
      <div
        class="collapse collapse-vertical"
        id="breakfast"
      >
        <div
          class=""
          style="background-color: red"
        >
          <a
            class="btn btn-outline-secondary mt-2"
            href="/breakfast/meals"
            >Meals</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/breakfast/omelets"
          >
            3 Egg Omelets</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/breakfast/eggs&toast"
          >
            Eggs & Toast</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/breakfast/sandwiches"
          >
            Sandwiches</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Lunch/Dinner -->
  <div
    class="container-fluid big-button pt-2"
    style="background-color: red"
  >
    <a
      class="navbar-brand btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#lunchdinner"
      aria-expanded="false"
      aria-controls="lunchdinner"
      style="text-wrap: wrap"
      >Lunch/Dinner</a
    >
    <div style="min-height: 100%">
      <div
        class="collapse collapse-vertical"
        id="lunchdinner"
      >
        <div
          class=""
          style="background-color: red"
        >
          <a
            class="btn btn-outline-secondary mt-2"
            href="/lunchanddinner/appetizers"
            >Appetizers</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/soup"
          >
            Soup</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/salads"
          >
            Salads</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/"
          >
            Chicken Varieties</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/sandwiches"
          >
            Sandwiches</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/beefburgers"
          >
            Beef Burgers</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/turkeyburgers"
          >
            Turkey Burgers</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/melts"
          >
            Buttery-Rich Melts</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/platters"
          >
            Platters</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunchanddinner/sides"
          >
            Sides</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Beverages -->
  <div
    class="container-fluid big-button pt-2"
    style="background-color: red"
  >
    <a
      class="navbar-brand btn btn-primary"
      type="button"
      href="/beverages"
      >Beverages</a
    >
  </div>
  <!-- Kids Menu -->
  <div
    class="container-fluid big-button pt-2"
    style="background-color: red"
  >
    <a
      class="navbar-brand btn btn-primary"
      type="button"
      href="/kidsmenu"
      >Kids Menu</a
    >
  </div>
</nav>
