<!-- Navbar -->
<nav
  class="navbar pe-2 rounded d-flex"
  style="background-color: #dc0428"
>
  <!-- Breakfast -->
  <div class="container-fluid big-button pt-2">
    <a
      class="navbar-brand rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#breakfast"
      aria-expanded="false"
      aria-controls="breakfast"
      >Breakfast</a
    >
    <div style="min-height: 100%">
      <div
        class="collapse collapse-vertical"
        id="breakfast"
      >
        <div
          class="big-button"
          style="background-color: #dc0428"
        >
          <a
            class="btn btn-outline-secondary mt-2"
            href="/breakfast/meals"
            >Meals</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/breakfast/omelets"
          >
            3 Egg Omelets</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/breakfast/eggs&toast"
          >
            Eggs & Toast</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/breakfast/sandwiches"
          >
            Sandwiches</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Lunch/Dinner -->
  <div class="container-fluid big-button pt-2">
    <a
      class="navbar-brand rounded"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#lunchdinner"
      aria-expanded="false"
      aria-controls="lunchdinner"
      style="text-wrap: wrap"
      >Lunch/Dinner</a
    >
    <div style="min-height: 100%">
      <div
        class="collapse collapse-vertical"
        id="lunchdinner"
      >
        <div
          class="big-button"
          style="background-color: #dc0428"
        >
          <a
            class="btn btn-outline-secondary mt-2"
            href="/lunch&dinner/appetizers"
            >Appetizers</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/salads"
          >
            Soups and Salads</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/"
          >
            Chicken Varieties</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/sandwiches"
          >
            Sandwiches</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/beefburgers"
          >
            Beef Burgers</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/turkeyburgers"
          >
            Turkey Burgers</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/melts"
          >
            Buttery-Rich Melts</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/platters"
          >
            Platters</a
          >
          <hr />
          <a
            class="btn btn-outline-secondary"
            href="/lunch&dinner/sides"
          >
            Sides</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- Beverages -->
  <div class="container-fluid big-button pt-2">
    <a
      class="navbar-brand rounded"
      type="button"
      href="/beverages"
      >Beverages</a
    >
  </div>
  <!-- Kids Menu -->
  <div class="container-fluid big-button pt-2">
    <a
      class="navbar-brand rounded rounded"
      type="button"
      href="/kidsmenu"
      >Kids Menu</a
    >
    <!-- <a
      class="navbar-brand rounded btn btn-primary"
      type="button"
      href="/kidsmenu"
      >Kids Menu</a
    > -->
  </div>
  <div class="container-fluid sidebar-disclaimer">
    Disclaimer: Consuming raw or undercooked meat, poultry, seafood, shellfish,
    or eggs may increase the risk of foodborne illness. Please let us know if
    you have food allergies. Not all ingredients are listed on the menu. We
    practice serious caution in preparing our gluten friendly items and do our
    best to ensure a gluten friendly product. Stacked is not a gluten-free
    environment. In consuming our gluten friendly items, be aware that there may
    be a chance of cross contamination. Patrons are encouraged to consider this
    information in light of their individual requirements and needs. We are not
    responsible for medium-well or well done steaks. All meats fresh, never
    frozen USDA Choice <br />Pricing and availability subject to change.
  </div>
</nav>
