<% layout('layout/boilerplate') -%>
<div class="col-md-6 text-align">
  <span class="title">Milk & Juice</span>
  <p>
    White/Chocolate Milk <small>small</small> $2.19
    <small>large</small>
    $3.58
  </p>
  <p>
    Orange Juice <small>small</small> $2.19 <small>large</small>
    $3.58
  </p>
  <p>
    Tomato Juice <small>small</small> $2.19 <small>large</small>
    $3.58
  </p>
  <p>
    Cranberry Juice <small>small</small> $2.19
    <small>large</small>
    $3.58
  </p>
  <p>
    Apple Juice <small>small</small> $2.19 <small>large</small>
    $3.58
  </p>
</div>
<div class="col-md-6 text-align">
  <span class="title">Soft Drinks</span>
  <p>
    Pepsi, Diet Pepsi, Mt. Dew, Mug Root Beer, Orange Crush, Dr. Pepper, Sierra
    Mist, Pink Lemonade, Fruit Punch, Raspberry Tea, Unsweetened Tea
    <small>$2.73</small>
  </p>
  <ul>
    <li>Stewart Bottle Soda <small>$2.46</small></li>
    <li>Mystic/Snapple <small>$2.75</small></li>
    <li>Can Soda <small>$1.49</small></li>
  </ul>
</div>
<div class="col-md-6 text-align">
  <span class="title">Hot</span>
  <p>Coffee $3.13</p>
  <p>Hot Tea $3.13</p>
  <p>Hot Chocolate $3.48</p>
</div>
<div class="col-md-6 text-align">
  <span class="title text-align">Milkshakes</span>
  <div class="row">
    <div class="col-md-6">
      <h6>Vanilla, Chocolate, Strawberry, Banana, and Root Beer</h6>
      <ul>
        <li>Large 24 oz. $7.20</li>
        <li>Medium 16 oz. $6.68</li>
        <li>Small 12 oz. $6.17</li>
      </ul>
    </div>
    <div class="col-md-6">
      <h6>Oreo Cookie Shake</h6>
      <ul>
        <li>Large 24 oz. $7.90</li>
        <li>Medium 16 oz. $7.38</li>
        <li>Small 12 oz. $6.87</li>
      </ul>
    </div>
  </div>
</div>
