<% layout('layout/boilerplate') -%>
<link
  rel="stylesheet"
  href="/stylesheets/styles.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<section>
  <div class="header container text-center">
    <div class="row align-items-start">
      <div class="col">
        <div class="row">
          <p>(Logo Beef Burgers)</p>
          <h5>Top Notch</h5>
          <!-- <h5 class="">(Logo Beef Burgers)Top Notch</h5> -->
        </div>
        <!-- <div class="col">
        <div class="row">
          <p>(Logo Beef Burgers)</p>
          <h5>Top Notch</h5>
        </div> -->
        <!-- (Logo) Top Notch Beef Burgers -->
      </div>
      <div class="col">
        <p><i class="fa fa-phone"></i>773-445-7218</p>
        <p>Hours: Mon - Sat, 8am-8pm</p>
      </div>
    </div>
  </div>
</section>

<section>
  <!-- <div class="navbar container text-center"> -->
  <div class="d-flex justify-content-evenly">
    <div class="btn btn-outline-secondary">
      <a href="/">Home</a>
    </div>
    <div class="btn btn-outline-secondary">
      <a href="">Menu</a>
    </div>
    <div class="btn btn-outline-secondary">
      <a href="">Carryout</a>
    </div>
    <div class="btn btn-outline-secondary">
      <a href="">Order Online</a>
    </div>
  </div>
  <!-- </div> -->
  <div
    id="carouselExample"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/images/topnotch-img1.jpg"
          class="d-block w-100 img-fluid"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/images/topnotch-img2.jpg"
          class="d-block w-100 img-fluid"
        />
      </div>
      <div class="carousel-item">
        <img
          src="/images/topnotch-img3.jpg"
          class="d-block w-100 img-fluid"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span
        class="carousel-control-prev-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span
        class="carousel-control-next-icon"
        aria-hidden="true"
      ></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<!-- <div
  class="d-flex justify-content-between align-items-center gap-2 flex-wrap"
  style="grid-template-columns: repeat(auto-fill, 130px)"
>
  <p>lorem</p>
  <p>lorem</p>
  <p>lorem</p>
  <p>lorem</p>
</div> -->

<!--  -->
<!--  -->
<!--  -->
<section>
  <!-- <div class="online-ordering text-center"> -->
  <section>
    <div class="online-ordering text-center">
      <h3><a href="">Online Ordering Available</a></h3>
    </div>
  </section>
  <section>
    <div class="chicagos-best container col body white">
      <div class="row">
        <div class="col text-center">
          <div class="order-online">
            <iframe
              width="100%"
              height="100%"
              src="https://www.youtube-nocookie.com/embed/dr3_tvo4Wu4?si=whqZUwykkh9gFxfF"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
        </div>
        <div class="chicagos-best-description col text-center">
          <h4>Chicago's Best 300th</h4>
          <p>
            Marley Kayden fromWGN's Chicago's Best and 'Chicago-lebrity' Graham
            Elliot visit Top Notch.
          </p>
          <p>
            Watch Marley Kayden and Graham Elliot as they uncover how Top Notch
            burgers are made
          </p>
        </div>
      </div>
    </div>
  </section>
  <h3 class="text-center">Popular Meals</h3>
  <div
    class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4 mt-2 justify-content-evenly"
  >
    <div class="">
      <h5 class="card-title text-center">Deluxe Beef Burger</h5>
      <div class="card-img text-center">
        <img
          src="/images/topnotch-beefdeluxe.jpg"
          class="img-fluid box"
          alt=""
        />
      </div>
      <div class="card-body text-center main-text">
        <p class="card-text">
          Fresh never frozen beef burger with the choice of sharp american,
          swiss, monteney Jack, Jalapeno Jack or Mozzerela cheese. Along with
          lettuce, tomato, mayo, pickle and your choice of grilled or raw onions
        </p>
      </div>
    </div>
    <div class="">
      <h5 class="card-title text-center">Deluxe Turkey Burger</h5>
      <div class="card-img text-center">
        <img
          src="/images/topnotch-turkey.jpg"
          class="img-fluid box"
          alt=""
        />
      </div>
      <div class="card-body text-center main-text">
        <p class="card-text">
          Our delicious turkey burgers are seasoned with our own blend of
          seasoning. With your choice of sharp american, swiss, monteney Jack,
          Jalapeno Jack or Mozzerela cheese. Along with lettuce, tomato, mayo,
          pickle and your choice of grilled or raw onions
        </p>
      </div>
    </div>
    <div class="">
      <h5 class="card-title text-center">Reuben melt</h5>
      <div class="card-img text-center">
        <img
          src="/images/topnotch-reuben.jpg"
          class="img-fluid box"
          alt=""
        />
      </div>
      <div class="card-body text-center main-text">
        <p class="card-text">
          Buttered and grilled rye bread with a generous portion of corned beed
          with saurerkraut and swiss cheese
        </p>
      </div>
    </div>
    <div class="">
      <h5 class="card-title text-center">Patty Melt</h5>
      <div class="card-img text-center">
        <img
          src="/images/topnotch-pattymelt.jpg"
          class="img-fluid box"
          alt=""
        />
      </div>
      <div class="card-body text-center main-text">
        <p class="card-text">
          Buttery-rich beef patty on a grilled rye bread. Comes with grilled
          onions, and American cheese
        </p>
      </div>
    </div>
  </div>
</section>
<!-- <div class="4-popular-meals"></div> -->

<!-- <div class="about-&-media"></div> -->
<section>
  <div class="about-&-media container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h2>Top Notch</h2>
        <p>
          <a href="https://maps.app.goo.gl/5dqFaps7eGoZG3qN9">
            <i
              class="fa fa-map-marker"
              aria-hidden="true"
            ></i>
            <!-- <i class="fas fa-map-marker-alt"></i> -->
            2116 W 95th St. Chicago, IL 60643</a
          >
        </p>
        <p>
          <a href="tel:773-445-7218"><i class="fa fa-phone"></i>773-445-7218</a>
        </p>
        <p>Hours: Mon - Sat, 8am-8pm</p>
      </div>
      <div class="col">
        <p><a href="">About us</a></p>
        <p>
          <a href="https://www.facebook.com/topnotchbeverly"
            >Follow Us on Facebook</a
          >
        </p>
        <p>
          <a
            href="https://www.yelp.com/biz/top-notch-beef-burgers-chicago?start=20"
            >Reviews on Yelp</a
          >
        </p>
      </div>
    </div>
    <div class="text-center">
      <!-- Image of the building -->
      <img
        src="/images/topnotch-building.jpg"
        alt=""
      />
    </div>
  </div>
</section>
<!-- <div class="footer"></div> -->
<footer class="footer py-2 mt-auto">
  <div
    class="container"
    style="text-align: center"
  >
    <span class="text-muted">&copy; 2023 TopNotch BeefBurgers</span>
  </div>
</footer>
