<% layout('layout/boilerplate') -%>
<span class="title">Kids Menu</span>
<p
  class="mt-2"
  style="font-style: italic"
>
  Ages 12 and under - Meal comes with fries
</p>
<p>
  All burgers come with lettuce, tomato, mayo, pickles, and your choice of
  grilled or raw onion
</p>
<hr />
<div class="col-12 text-align">
  <p
    class="title"
    style="font-size: medium"
  >
    Beefburger 9.26
  </p>
  <p
    class="title"
    style="font-size: medium"
  >
    Cheeseburger 9.77
    <!-- <img
      class="food-image text-center text-align"
      src="/images/kidsmeal.jpg"
      alt=""
    /> -->
  </p>
  <p
    class="title"
    style="font-size: medium"
  >
    Turkey Burger 9.26
  </p>
  <p
    class="title"
    style="font-size: medium"
  >
    Turkey Cheeseburger 9.77
  </p>
  <!-- </div>
<div class="col-md-6 text-align"> -->
  <p
    class="title"
    style="font-size: medium"
  >
    Grilled Cheese 8.74
  </p>
  <p
    class="title"
    style="font-size: medium"
  >
    Hotdog 8.74
    <!-- <img
      class="food-image"
      src="/images/kidsmenu-2.jpg"
      alt=""
    /> -->
  </p>

  <p
    class="title"
    style="font-size: medium"
  >
    Cheese Dog 9.26
  </p>
  <p
    class="title"
    style="font-size: medium"
  >
    Chicken Nuggets 9.26
  </p>
  <p
    class="title"
    style="font-size: medium"
  >
    Chicken Tenders 9.26
  </p>
</div>
