<% layout('layout/boilerplate') -%>
<span class="title">Kids Menu</span>
<p
  class="mt-2"
  style="font-style: italic"
>
  Ages 12 and under - Meal comes with fries
</p>
<div class="col-md-6 text-align">
  <p>Beefburger 9.26</p>
  <p>
    Cheeseburger 9.77
    <!-- <img
      class="food-image text-center text-align"
      src="/images/kidsmeal.jpg"
      alt=""
    /> -->
  </p>
  <p>Turkey Burger 9.26</p>
  <p>Turkey Cheeseburger 9.77</p>
</div>
<div class="col-md-6 text-align">
  <p>Grilled Cheese 8.74</p>
  <p>
    Hotdog 8.74
    <!-- <img
      class="food-image"
      src="/images/kidsmenu-2.jpg"
      alt=""
    /> -->
  </p>

  <p>Cheese Dog 9.26</p>
  <p>Chicken Nuggets 9.26</p>
  <p>Chicken Tenders 9.26</p>
</div>
