<% layout('layout/boilerplate') -%>

<div class="col-12 text-align">
  <span class="title">Appetizers</span>
</div>
<div class="col-12 text-align">
  <div class="left">
    <p><span class="name">Mozzerela Sticks</span> 8.75</p>
  </div>
  <div class="right">
    <p><span class="name">Onion Rings</span> 6.68</p>
    <p><span class="name">Boneless Buffalo Wings</span> 10.40</p>
  </div>
</div>
