<% layout('layout/boilerplate') -%>

<div class="col-12 text-align">
  <h4>Appetizers</h4>
  <p>Description</p>
</div>
<div class="col-4 text-align">
  <h4>Mozzerela Sticks</h4>
  <p class="text-align"></p>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-4 text-align">
  <h4>Onion Rings</h4>
  <p class="text-align"></p>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-4 text-align">
  <h4>Boneless Buffalo Wings</h4>
  <p class="text-align"></p>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
