<% layout('layout/boilerplate') -%>
<div class="col-12 text-center">
  <h4>BeefBurgers</h4>
  <p>
    All of the beef burgers below are our famous Usda choice ground round right
    off the bone steak burgers. We offer a choice of sharp American, Swiss,
    Monterey Jack, Jalapeno Jack, and Mozzerela cheese. Unless specified, we use
    sharp American. Basic and deluxe burgers come with lettuce, tomato, mayo,
    pickles, and your choice of grilled or raw onion
  </p>
</div>
<div class="col-6 text-center">
  <h4>Basic Beefburgers</h4>
  <ul>
    <li>
      1/4 lb.------------$7.09 <br />
      with cheese------$8.04
    </li>
    <li>
      1/2 lb.------------$12.32 <br />
      with cheese------$13.72
    </li>
    <li>
      3/4 lb.------------$14.17 <br />
      with cheese------$15.64
    </li>
  </ul>
  <img
    class="food-thumbnail"
    src="/images/topnotch-beefo.jpg"
    alt=""
  />
</div>
<div class="col-6 text-center">
  <h4>Deluxe Beefburgers</h4>
  <ul>
    <li>
      1/4 lb.------------$9.95 <br />
      with cheese------$10.83
    </li>
    <li>
      1/2 lb.------------$13.49 <br />
      with cheese------$14.90
    </li>
    <li>
      3/4 lb.------------$16.31 <br />
      with cheese------$17.94
    </li>
  </ul>
  <img
    class="food-thumbnail"
    src="/images/topnotch-beef.jpg"
    alt=""
  />
</div>
<!-- Special -->
<div class="col-12 text-center">
  <h4>Special 1/2 lb. beefburgers</h4>
</div>
<div class="col-12">
  <h6>Western</h6>
  <p>
    Three slices of your choice cheese, three strips of bacon, grilled green
    pepper and BBQ sauce, choice of grilled or raw onion, served with fries
  </p>
</div>
<div class="col-12">
  <h6>Mexican</h6>
  <p>
    Jalepeno cheese, salsa, guacamole, green pepper and choice of grilled or raw
    onion, served with fries
  </p>
</div>
<div class="col-12">
  <h6>Italian</h6>
  <p>
    Mozzerela cheese, marinara sauce, green pepper and choice of grilled or raw
    onion, served with fries
  </p>
</div>
