<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Buttery-Rich Melts</h4>
  <p>
    All of the patty melts come with grilled onions, American cheese on a
    buttered grilled rye bread
  </p>
</div>
<div class="col-12 text-align">
  <h4>Classic Patty Melt</h4>

  <ul>
    <li>5 oz. Beefburger Patty Melt 8.37</li>
    <li>1/2 lb Beefburger Patty Melt 11.75</li>
    <li>3/4 lb Beefburger Patty Melt 14.17</li>
    <li>5 oz. lb Turkey Burger Melt 8.37</li>
    <li>1/2 lb Turkey Burger Melt 11.80</li>
    <li>3/4 lb Turkey Burger Melt 14.17</li>
  </ul>
</div>
<div class="col-12 text-align">
  <h4>Specialty Melts</h4>
  <ul>
    <li>
      Smoked Turkey Melt <br />
      <p>
        Buttered and grilled rye bread, cold cut smoked turkey and American
        cheese 9.64
      </p>
    </li>
    <li>
      Reuben Melt <br />
      <p>
        Buttered and grilled rye bread, with a generous portion of corned beef
        with saurerkraut and Swiss cheese 10.13
      </p>
    </li>
    <li>
      Corned Beef Melt <br />
      <p>
        Buttered and grilled rye bread, with corned beef and American cheese
        9.64
      </p>
    </li>
    <li>
      Roast Beef Melt <br />
      <p>
        Buttered and grilled rye bread, choice round of beef and American cheese
        8.04
      </p>
    </li>
    <li>
      Tuna Melt <br />
      <p>
        Buttered and grilled rye bread, served with our homemade tuna and
        American cheese 9.10
      </p>
    </li>
    <li>
      Chicken Melt <br />
      <p>
        Buttered and grilled rye bread, served with a chicken breast and
        American cheese 9.67
      </p>
    </li>
  </ul>
</div>
