<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <span class="title">Platters</span>
  <p style="font-style: italic">Served With Your Choice Of Soup Or Cole Slaw</p>
</div>
<div class="col-md-6 text-align">
  <div class="food-item">
    <span class="title">Hot Beef</span>
    <p>
      bread with gravy served with your choice of mashed potatoes or fries 11.19
    </p>
  </div>
  <div class="food-item">
    <span class="title">Beef or Chicken Taco Salad</span>
    <p>
      Lettuce Tomatoe, cheese, onions, tortilla chips, with a side of salsa,
      guacamole, and sour cream 15.80
    </p>
  </div>
  <div class="food-item">
    <span class="title">Grilled Catfish</span>
    <p>
      Breaded and grilled with tartar sauce and lemon, served with mashed
      potatoes and gravy or fries 17.49
    </p>
  </div>
</div>
<div class="col-md-6 text-align">
  <div class="food-item">
    <span class="title">Chicken Nuggets/Tenders</span>
    <p>Served with mashed potatoes or fries 14.41</p>
  </div>
  <div class="food-item">
    <span class="title">Hot Dog Platter</span>
    <p>Two hot dogs served with mashed potatoes or fries 11.81</p>
  </div>
</div>
