<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Platters</h4>
  <p>Served With Your Choice Of Soup Or Cole Slaw</p>
</div>
<div class="col-6 text-align">
  <div class="food-item">
    <h4>Hot Beef</h4>
    <p>bread with gravy served with your choice of mashed potatoes or fries</p>
    <img
      class="food-thumbnail"
      src=""
      alt=""
    />
  </div>
  <div class="food-item">
    <h4>Beef or Chicken Taco Salad</h4>
    <p>
      Lettuce Tomatoe, cheese, onions, tortilla chips, with a side of salsa,
      guacamole, and sour cream
    </p>
    <img
      class="food-thumbnail"
      src=""
      alt=""
    />
  </div>
  <div class="food-item">
    <h4>Grilled Catfish</h4>
    <p>
      Breaded and grilled with tartar sauce and lemon, served with mashed
      potatoes and gravy or fries
    </p>
    <img
      class="food-thumbnail"
      src=""
      alt=""
    />
  </div>
</div>
<div class="col-6 text-align">
  <div class="food-item">
    <h4>Chicken Nuggets/Tenders</h4>
    <p>Served with mashed potatoes or fries</p>
    <img
      class="food-thumbnail"
      src=""
      alt=""
    />
  </div>
  <div class="food-item">
    <h4>Hot Dog Platter</h4>
    <p>Two hot dogs served with mashed potatoes or fries</p>
    <img
      class="food-thumbnail"
      src=""
      alt=""
    />
  </div>
</div>
