<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Salads</h4>
  <p>
    All salads come with your choice of Ramnch, Frnech, Italian, 1000 Island, or
    Greek Dressing
  </p>
</div>
<div class="col-6">
  <ul>
    <li>Garden Salad</li>
    <li>Grilled Chicken Salad</li>
    <li>Cajun Chicken Salad</li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-6">
  <ul>
    <li>Greek Salad</li>
    <li>Greek Salad with Grilled Chicken</li>
    <li>
      Cottage Cheese Salad <br />
      With Peaches or Tomatoes
    </li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-12 text-align">
  <h4>Soups</h4>
  <p>Ask Your Server For The Soup Of The Day</p>
</div>
<div class="col-6">
  <ul>
    <li>Homemade Soup</li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-6">
  <ul>
    <li>Chili</li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
