<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Sandwiches</h4>
</div>
<div class="col-6 text-align">
  <p>
    Choice Grade Cube Steak Sandwich <br />
    On a toasted buttered French roll
  </p>
  <br />
  <p>
    BBQ Beef Sandwich <br />
    Choice round of beef cooked in BBQ sauce served on a French roll
  </p>
  <br />
  <p>
    Beef Au Jus <br />
    Choice round of beef served on a French roll with au jus
  </p>
  <br />
  <p>
    Grilled Cheese <br />
    With pickles on white bread <br />
  </p>
  <ul>
    <li>add ham</li>
    <li>add bacon</li>
    <li>add tomato</li>
  </ul>
  <br />
  <p>
    BLT <br />
    With pikles on white toast
  </p>
  <br />
</div>
<div class="col-6 text-align">
  <p>
    Home Made Tuna Sandwich <br />
    Homemade tuna served on white toast with lettuce
  </p>
  <br />
  <p>
    Ham Sandwich <br />
    Cold cut ham with lettuce, tomato, and mayo served on French roll
  </p>
  <br />
  <p>
    Smoked Turkey Sandwich <br />
    Cold cut turkey with lettuce, tomato, and mayo on French roll
  </p>
  <br />
  <p>
    Catfish Sandwich <br />
    Grilled catfish with lettucee, pickle, and tartar sauce on a Frnech roll
  </p>
  <br />
  <p>
    Corn Beef Sandwich <br />
    Corn Bee with pickles, served hot or cold, with your choice of bread
  </p>
  <br />
  <p>
    Club Sandwich w. Fries <br />
    Bacon, lettuce, tomato, ham, and mayo <br />
    substitute smoked turkey ----$1.82 extra
  </p>
</div>
