<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Sandwiches</h4>
</div>
<div class="col-6 text-align">
  <p>
    <span class="name">Choice Grade Cube Steak Sandwich </span>
    <br />
    On a toasted buttered French roll 9.26
  </p>
  <br />
  <p>
    <span class="name">BBQ Beef Sandwich </span>
    <br />
    Choice round of beef cooked in BBQ sauce served on a French roll 9.26
  </p>
  <br />
  <p>
    <span class="name">Beef Au Jus </span>
    <br />
    Choice round of beef served on a French roll with au jus 9.26
  </p>
  <br />
  <p class="name">
    <span>Grilled Chicken Sandwich</span><br />
    Served with lettuce, tomato, and mayo on a toasted bun 9.49
  </p>
  <p>
    <span class="name">Grilled Cheese</span>
    <br />
    With pickles on white bread 5.65 <br />
  </p>
  <ul>
    <li>add ham</li>
    <li>add bacon</li>
    <li>add tomato</li>
  </ul>
  <p>
    <span class="name">Cajun Chicken Sandwich</span><br />
    Served with lettuce, tomato, mayo, and generously seasoned with our Cajun
    seasoning on a toasted bun 10.29
  </p>
  <p>
    <span class="name">BLT</span>
    <br />
    With pikles on white toast 9.77
  </p>
  <br />
</div>
<div class="col-6 text-align">
  <p>
    <span class="name">Homemade Tuna Sandwich </span>
    <br />
    Homemade tuna served on white toast with lettuce 9.60
  </p>
  <br />
  <p>
    <span class="name">Ham Sandwich </span>
    <br />
    Cold cut ham with lettuce, tomato, and mayo served on French roll 10.29
  </p>
  <br />
  <p>
    <span class="name">Smoked Turkey Sandwich </span>
    <br />
    Cold cut turkey with lettuce, tomato, and mayo on French roll 8.40
  </p>
  <br />
  <p>
    <span class="name">Catfish Sandwich </span>
    <br />
    Grilled catfish with lettucee, pickle, and tartar sauce on a Frnech roll
    11.29
  </p>
  <br />
  <p>
    <span class="name">Corn Beef Sandwich </span>
    <br />
    Corn Bee with pickles, served hot or cold, with your choice of bread 10.29
  </p>
  <br />
  <p>
    <span class="name">Club Sandwich w. Fries </span>
    <br />
    Bacon, lettuce, tomato, ham, and mayo 9.29<br />
    substitute smoked turkey ----$1.82 extra
  </p>
  <p>
    <span class="name">Italian Chicken Sandwich </span><br />
    With mozzerella cheese and marinara sauce lettuce and tomato on a toasted
    8.40 bun
  </p>
</div>
