<% layout('layout/boilerplate') -%>
<div class="col-6 text-align">
  <h4>Sides</h4>
  <ul>
    <li>French Fries</li>
    <li>Cheese Cup</li>
    <li>2 Strips of Bacon</li>
    <li>Grilled Mushrooms</li>
    <li>Cole Slaw</li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-6 text-align">
  <h4>Dessert</h4>
  <ul>
    <li>Ice cream</li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
