<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <span class="title">Sides</span>
  <div class="left">
    <p>French Fries <br /><small>4.11</small></p>
    <p>Cheese Fries <br /><small>5.44</small></p>
  </div>
  <div class="right">
    <p>2 Strips of Bacon <br /><small>2.01</small></p>
    <p>Grilled Mushrooms <br /><small>1.29</small></p>
    <p>Cole Slaw <br /><small>3.20</small></p>
  </div>
</div>
