<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <span class="title">Salads</span>
  <p style="font-style: italic">
    All salads come with your choice of Ramnch, Frnech, Italian, 1000 Island, or
    Greek Dressing
  </p>
</div>
<div class="col-md-6">
  <ul>
    <li>Garden Salad 6.24</li>
    <li>Grilled Chicken Salad 13.72</li>
    <li>Cajun Chicken Salad 13.84</li>
  </ul>
</div>
<div class="col-md-6">
  <ul>
    <li>Greek Salad 7.83</li>
    <li>Greek Salad with Grilled Chicken 15.66</li>
    <li>
      Cottage Cheese Salad 5.62<br />
      <small>With Peaches or Tomatoes</small>
    </li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
<div class="col-12 text-align">
  <span class="title">Soups</span>
  <p style="font-style: italic">Ask Your Server For The Soup Of The Day</p>
</div>
<div class="col-6">
  <ul>
    <li>
      Homemade Soup <br /><small> bowl 4.49</small><br /><small>cup 3.37</small>
    </li>
  </ul>
</div>
<div class="col-6">
  <ul>
    <li>Chili <br /><small>bowl 4.84 </small><br /><small>cup 3.65</small></li>
  </ul>
</div>
