<% layout('layout/boilerplate') -%>
<!-- Turkey Burger -->
<div class="col-12 text-align">
  <h4>Turkey Burgers</h4>
  <p>
    All of the beef burgers below are our famous Usda choice ground round right
    off the bone steak burgers. We offer a choice of sharp American, Swiss,
    Monterey Jack, Jalapeno Jack, and Mozzerela cheese. Unless specified, we use
    sharp American. Basic and deluxe burgers come with lettuce, tomato, mayo,
    pickles, and your choice of grilled or raw onion
  </p>
</div>
<div class="col-6">
  <h4>Basic Turkey Burgers</h4>
  <p>
    1/4 lb.------------$9.26 <br />
    with cheese------$9.77
  </p>
  <p>
    1/2 lb.------------$15.44 <br />
    with cheese------$15.99
  </p>
  <p>
    3/4 lb.------------$17.50 <br />
    with cheese------$18.01
  </p>
  <img
    class="food-thumbnail"
    src="/images/topnotch-1.4turkey.jpg"
    alt=""
  />
</div>
<div class="col-6">
  <h4>Deluxe Turkey Burgers</h4>
  <p>
    1/4 lb.------------$13.36 <br />
    with cheese------$13.38
  </p>
  <p>
    1/2 lb.------------$16.98 <br />
    with cheese------$17.50
  </p>
  <p>
    3/4 lb.------------$20.59 <br />
    with cheese------$21.10
  </p>
  <img
    class="food-thumbnail"
    src="/images/topnotch-turkey.jpg"
    alt=""
  />
</div>
<!-- Special -->
<div class="col-12 text-align">
  <h4>Special 1/2 lb. beefburgers</h4>
</div>
<div class="col-12">
  <span class="name">Western</span>
  <p>
    Three slices of your choice cheese, three strips of bacon, grilled green
    pepper and BBQ sauce, choice of grilled or raw onion, served with fries
    17.04
  </p>
</div>
<div class="col-12">
  <span class="name">Mexican</span>
  <p>
    Jalepeno cheese, salsa, guacamole, green pepper and choice of grilled or raw
    onion, served with fries 15.92
  </p>
</div>
<div class="col-12">
  <span class="name">Italian</span>
  <p>
    Mozzerela cheese, marinara sauce, green pepper and choice of grilled or raw
    onion, served with fries 15.24
  </p>
</div>
