<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="/stylesheets/styles.css"
    />
    <title>Top Notch Beef Burgers</title>
  </head>
  <body>
    <main class="main">
      <!-- Header -->
      <%- include ('../partials/header.ejs') %>
      <!-- Menu screen -->
      <div class="big-box mt-3">
        <div class="container-fluid">
          <div class="row">
            <!-- Menu page -->
            <div class="col-md-9 order-md-2 menu-items card">
              <div class="row"><%- body %></div>
            </div>
            <div class="col-md-3 order-md-1 sidebar rounded">
              <!-- Navbar -->
              <%- include ('../partials/navbar.ejs') %>
            </div>
          </div>
        </div>
      </div>
      <!--Footer -->
      <%- include ('../partials/footer.ejs') %>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  </body>
</html>
