<% layout('layout/boilerplate') -%>
<link
  rel="stylesheet"
  href="/stylesheets/styles.css"
/>
<div class="big-box">
  <!-- Header -->
  <%- include ('../partials/header.ejs') %>
  <!-- Menu screen -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"><br /></div>
      <div class="col-3 sidebar rounded">
        <!-- Navbar -->
        <%- include ('../partials/navbar.ejs') %>
      </div>
      <!-- Menu page -->
      <div class="col-9 menu-items">
        <div class="row">
          <div class="col-6 text-center">
            <h4>Eggs</h4>
            <div class="col-12">1 Egg With Corn Beef Hash</div>
            <div class="col-12">2 Eggs With Corn Beef Hash</div>
            <div class="col-12">1 Eggs Any Style</div>
            <div class="col-12">2 Eggs Any Style</div>
          </div>
          <div class="col-6 text-center">
            <h4>Toasted Bread</h4>
            <p>
              Buttered Toast With Jelly <br /><small
                >(Rye, Wheat Or White Bread)</small
              >
            </p>
            <p>
              Cinnamon Toast <br /><small>(Rye, Wheat Or White Bread)</small>
            </p>
            <p>Raisin Toast with butter & jelly</p>
            <p>English Muffin with butter & jelly</p>
            <p>French Roll with butter & jelly</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer -->
  <%- include ('../partials/footer.ejs') %>
</div>
