<% layout('layout/boilerplate') -%>
<div class="col-6 text-align">
  <h4>Eggs</h4>
  <div class="col-12">1 Egg With Corn Beef Hash</div>
  <div class="col-12">2 Eggs With Corn Beef Hash</div>
  <div class="col-12">1 Eggs Any Style</div>
  <div class="col-12">2 Eggs Any Style</div>
</div>
<div class="col-6 text-align">
  <h4>Toasted Bread</h4>
  <p>
    Buttered Toast With Jelly <br /><small>(Rye, Wheat Or White Bread)</small>
  </p>
  <p>Cinnamon Toast <br /><small>(Rye, Wheat Or White Bread)</small></p>
  <p>Raisin Toast with butter & jelly</p>
  <p>English Muffin with butter & jelly</p>
  <p>French Roll with butter & jelly</p>
</div>
