<% layout('layout/boilerplate') -%>
<!-- <div class="col-12"> -->
<div class="col-sm-6 text-align order-md-1">
  <span class="title">Eggs</span>
  <p>1 Egg With Corn Beef Hash 8.09</p>
  <p>2 Eggs With Corn Beef Hash 9.39</p>
  <p>1 Eggs Any Style 4.49</p>
  <p>2 Eggs Any Style 5.62</p>
</div>
<div class="col-sm-6 text-align order-md-2">
  <span class="title">Toasted Bread</span>
  <p>
    Buttered Toast With Jelly 3.14 <br /><small
      >(Rye, Wheat Or White Bread)</small
    >
  </p>
  <p>Cinnamon Toast 3.26 <br /><small>(Rye, Wheat Or White Bread)</small></p>
  <p>Raisin Toast with butter & jelly 3.26</p>
  <p>English Muffin with butter & jelly 3.04</p>
  <p>French Roll with butter & jelly 3.26</p>
</div>
<!-- </div> -->
