<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Three Egg Omelets</h4>
  <p>Served With Toast, Butter And Jelly</p>
</div>
<div class="col-12">
  <p>Egg Omelets</p>
  <p>Egg White Omelets</p>
  <p></p>
</div>
<div class="col-12 text-align">
  <h4>Add Any Ingredients Below</h4>
  <ul>
    <li>Cheese</li>
    <li>Ham</li>
    <li>Bacon</li>
    <li>Turkey bacon</li>
    <li>Sausage links</li>
    <li>Sausage patties</li>
    <li>Mushrooms</li>
    <li>Green peppers</li>
    <li>Onions</li>
    <li>Tomatoes</li>
  </ul>
  <img
    class="food-thumbnail"
    src=""
    alt=""
  />
</div>
