<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Three Egg Omelets</h4>
  <p>Served With Toast, Butter And Jelly</p>
</div>
<div class="col-12">
  <p>Whole Egg Omelets 3.74</p>
  <p>Egg White Omelets 5.35</p>
  <p></p>
</div>
<div class="col-12 text-align">
  <p style="font-weight: bold">Add Any Ingredients Below</p>
  <div class="left">
    <p>Cheese 1.35</p>
    <p>Ham 2.14</p>
    <p>Bacon 2.92</p>
    <p>Turkey bacon 2.92</p>
    <p>Sausage links 1.91</p>
  </div>
  <div class="right">
    <p>Sausage patties 2.42</p>
    <p>Mushrooms 1.53</p>
    <p>Green peppers 0.84</p>
    <p>Onions 0.62</p>
    <p>Tomatoes 0.72</p>
  </div>
  <!-- <img
    class="food-thumbnail"
    src=""
    alt=""
  /> -->
</div>
