<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Breakfast Sandwiches</h4>
</div>
<div class="col-lg-12 col-6">
  <p>Fried Egg sandwich 4.39</p>
  <br />
  <p>Scrambled Egg Sandwich 4.39</p>
  <br />
  <p>Bacon Sandwich 7.49</p>
  <br />
  <p>Bacon & Egg Sandwich 8.03</p>
  <br />
  <p>Turkey Bacon & Egg Sandwich 8.03</p>
  <br />
</div>
<div class="col-lg-12 col-6">
  <p>Ham & Egg Sandwich 7.61</p>
  <br />
  <p>Sausage Links & Egg Sandwich 7.31</p>
  <br />
  <p>Turkey Link Egg Sandwich 7.31</p>
  <br />
  <p>Sausage Patty & Egg Sandwich 8.04</p>
  <br />
  <p>Burger & Egg Sandwich 8.21</p>
  <br />
  <p>Turkey Burger & Egg Sandwich 8.21</p>
  <small>add an Extra Egg 1.80</small><br />
  <small>add cheese 1.35</small><br />
</div>
