<% layout('layout/boilerplate') -%>
<div class="col-12 text-align">
  <h4>Title</h4>
</div>
<div class="col-6">
  <p>Fried Egg sandwich</p>
  <br />
  <p>Scrambled Egg Sandwich</p>
  <br />
  <p>Bacon Sandwich</p>
  <br />
  <p>Bacon & Egg Sandwich</p>
  <br />
  <p>Turkey Bacon & Egg Sandwich</p>
  <br />
</div>
<div class="col-6">
  <p>Ham & Egg Sandwich</p>
  <br />
  <p>Sausage Links & Egg Sandwich</p>
  <br />
  <p>Turkey Link Egg Sandwich</p>
  <br />
  <p>Sausage Patty & Egg Sandwich</p>
  <br />
  <p>Burger & Egg Sandwich</p>
  <br />
  <p>Turjey Burger & Egg Sandwich</p>
  <small>add an Extra Egg</small><br />
  <small>add cheese</small><br />
</div>
