<% layout('layout/boilerplate') -%>
<link
  rel="stylesheet"
  href="/stylesheets/styles.css"
/>
<div class="big-box">
  <!-- Header -->
  <%- include ('../partials/header.ejs') %>
  <!-- Menu screen -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"><br /></div>
      <div class="col-3 sidebar rounded">
        <!-- Navbar -->
        <%- include ('../partials/navbar.ejs') %>
      </div>
      <!-- Menu page -->
      <div class="col-9 menu-items">
        <div class="row">
          <div class="col-12 text-center">
            <h4>Title</h4>
          </div>
          <div class="col-6">
            <p>Fried Egg sandwich</p>
            <br />
            <p>Scrambled Egg Sandwich</p>
            <br />
            <p>Bacon Sandwich</p>
            <br />
            <p>Bacon & Egg Sandwich</p>
            <br />
            <p>Turkey Bacon & Egg Sandwich</p>
            <br />
          </div>
          <div class="col-6">
            <p>Ham & Egg Sandwich</p>
            <br />
            <p>Sausage Links & Egg Sandwich</p>
            <br />
            <p>Turkey Link Egg Sandwich</p>
            <br />
            <p>Sausage Patty & Egg Sandwich</p>
            <br />
            <p>Burger & Egg Sandwich</p>
            <br />
            <p>Turjey Burger & Egg Sandwich</p>
            <small>add an Extra Egg</small><br />
            <small>add cheese</small><br />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Footer -->
  <%- include ('../partials/footer.ejs') %>
</div>
