<% layout('layout/boilerplate') -%>
<link
  rel="stylesheet"
  href="/stylesheets/styles.css"
/>
<!-- <div class="col-12">
  <div class="row"> -->
<!-- <div class="col-1"></div> -->
<div class="big-box">
  <!-- <div class="col-10"> -->
  <!-- header -->
  <div class="col-12">
    <section>
      <div class="header container-fluid">
        <div class="row text-align">
          <div class="col-3"></div>
          <div class="col-4">
            <p>(Logo Beef Burgers)</p>
            <h5>Top Notch</h5>
          </div>
          <div class="col-4">
            <p><i class="fa fa-phone"></i>773-445-7218</p>
            <p>Hours: Mon - Sat, 8am-8pm</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Navbar -->
  <div class="col-12">
    <section>
      <div class="d-flex justify-content-evenly">
        <div class="btn btn-outline-secondary">
          <a href="/">Home</a>
        </div>
        <div class="btn btn-outline-secondary">
          <a href="/lunchanddinner">Menu</a>
        </div>
        <div class="btn btn-outline-secondary">
          <a href="">Carryout</a>
        </div>
        <div class="btn btn-outline-secondary">
          <a href="">Order Online</a>
        </div>
      </div>
    </section>
  </div>
  <!-- Menu screen -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12"><br /></div>
      <div class="col-3 sidebar rounded">
        <!-- Navbar -->
        <nav
          class="navbar sidenav pe-2 rounded d-flex"
          style="background-color: red"
        >
          <!-- Breakfast -->
          <div
            class="container-fluid big-button pt-2"
            style="background-color: red"
          >
            <a
              class="navbar-brand btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#breakfast"
              aria-expanded="false"
              aria-controls="breakfast"
              >Breakfast</a
            >
            <div style="min-height: 100%">
              <div
                class="collapse collapse-vertical"
                id="breakfast"
              >
                <div
                  class=""
                  style="background-color: red"
                >
                  <a
                    class="btn btn-outline-secondary mt-2"
                    href="/breakfast/meals"
                    >Meals</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/breakfast/omelets"
                  >
                    3 Egg Omelets</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/breakfast/eggs&toast"
                  >
                    Eggs & Toast</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/breakfast/sandwiches"
                  >
                    Sandwiches</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Lunch/Dinner -->
          <div
            class="container-fluid big-button pt-2"
            style="background-color: red"
          >
            <a
              class="navbar-brand btn btn-primary"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#lunchdinner"
              aria-expanded="false"
              aria-controls="lunchdinner"
              style="text-wrap: wrap"
              >Lunch/Dinner</a
            >
            <div style="min-height: 100%">
              <div
                class="collapse collapse-vertical"
                id="lunchdinner"
              >
                <div
                  class=""
                  style="background-color: red"
                >
                  <a
                    class="btn btn-outline-secondary mt-2"
                    href="/lunch&dinner/appetizers"
                    >Appetizers</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/soup"
                  >
                    Soup</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/salads"
                  >
                    Salads</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/"
                  >
                    Chicken Varieties</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/sandwiches"
                  >
                    Sandwiches</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/beefburgers"
                  >
                    Beef Burgers</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/turkeyburgers"
                  >
                    Turkey Burgers</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/melts"
                  >
                    Buttery-Rich Melts</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/platters"
                  >
                    Platters</a
                  >
                  <hr />
                  <a
                    class="btn btn-outline-secondary"
                    href="/lunch&dinner/sides"
                  >
                    Sides</a
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Beverages -->
          <div
            class="container-fluid big-button pt-2"
            style="background-color: red"
          >
            <a
              class="navbar-brand btn btn-primary"
              type="button"
              href="/beverages"
              >Beverages</a
            >
          </div>
          <!-- Kids Menu -->
          <div
            class="container-fluid big-button pt-2"
            style="background-color: red"
          >
            <a
              class="navbar-brand btn btn-primary"
              type="button"
              href="/kidsmenu"
              >Kids Menu</a
            >
          </div>
        </nav>
      </div>
      <!-- Menu page -->
      <div class="col-9 menu-items">
        <div class="row">
          <div class="col-12 text-center">
            <h4>BeefBurgers</h4>
            <p>
              All of the beef burgers below are our famous Usda choice ground
              round right off the bone steak burgers. We offer a choice of sharp
              American, Swiss, Monterey Jack, Jalapeno Jack, and Mozzerela
              cheese. Unless specified, we use sharp American. Basic and deluxe
              burgers come with lettuce, tomato, mayo, pickles, and your choice
              of grilled or raw onion
            </p>
          </div>
          <div class="col-6 text-center">
            <h4>Basic Beefburgers</h4>
            <ul>
              <li>
                1/4 lb.------------$7.09 <br />
                with cheese------$8.04
              </li>
              <li>
                1/2 lb.------------$12.32 <br />
                with cheese------$13.72
              </li>
              <li>
                3/4 lb.------------$14.17 <br />
                with cheese------$15.64
              </li>
            </ul>
            <img
              class="food-thumbnail"
              src="/images/topnotch-beefo.jpg"
              alt=""
            />
          </div>
          <div class="col-6 text-center">
            <h4>Deluxe Beefburgers</h4>
            <ul>
              <li>
                1/4 lb.------------$9.95 <br />
                with cheese------$10.83
              </li>
              <li>
                1/2 lb.------------$13.49 <br />
                with cheese------$14.90
              </li>
              <li>
                3/4 lb.------------$16.31 <br />
                with cheese------$17.94
              </li>
            </ul>
            <img
              class="food-thumbnail"
              src="/images/topnotch-beef.jpg"
              alt=""
            />
          </div>
          <!-- Special -->
          <div class="col-12 text-center">
            <h4>Special 1/2 lb. beefburgers</h4>
          </div>
          <div class="col-12">
            <h6>Western</h6>
            <p>
              Three slices of your choice cheese, three strips of bacon, grilled
              green pepper and BBQ sauce, choice of grilled or raw onion, served
              with fries
            </p>
          </div>
          <div class="col-12">
            <h6>Mexican</h6>
            <p>
              Jalepeno cheese, salsa, guacamole, green pepper and choice of
              grilled or raw onion, served with fries
            </p>
          </div>
          <div class="col-12">
            <h6>Italian</h6>
            <p>
              Mozzerela cheese, marinara sauce, green pepper and choice of
              grilled or raw onion, served with fries
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About and Media -->
  <section>
    <div class="about-&-media container-fluid text-al">
      <div class="row">
        <div class="col-3"></div>
        <div class="col-4">
          <h2>Top Notch</h2>
          <p>
            <a href="https://maps.app.goo.gl/5dqFaps7eGoZG3qN9">
              <i
                class="fa fa-map-marker"
                aria-hidden="true"
              ></i>
              <!-- <i class="fas fa-map-marker-alt"></i> -->
              2116 W 95th St. Chicago, IL 60643</a
            >
          </p>
          <p>
            <a href="tel:773-445-7218"
              ><i class="fa fa-phone"></i>773-445-7218</a
            >
          </p>
          <p>Hours: Mon - Sat, 8am-8pm</p>
        </div>
        <div class="col-4">
          <br />
          <br />
          <p><a href="">About us</a></p>
          <p>
            <a href="https://www.facebook.com/topnotchbeverly"
              >Follow Us on Facebook</a
            >
          </p>
          <p>
            <a
              href="https://www.yelp.com/biz/top-notch-beef-burgers-chicago?start=20"
              >Reviews on Yelp</a
            >
          </p>
        </div>
      </div>
      <div class="text-center">
        <!-- Image of the building -->
        <img
          src="/images/topnotch-building.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
  <!-- Footer -->
  <div class="col-12">
    <footer class="footer py-2 mt-auto">
      <div
        class="container"
        style="text-align: center"
      >
        <span class="text-muted">&copy; 2023 TopNotch BeefBurgers</span>
      </div>
    </footer>
  </div>
  <!--  -->
</div>
<!-- <div class="col-1"></div> -->
<!-- </div>
</div> -->
