<% layout('layout/boilerplate') -%>
<link
  rel="stylesheet"
  href="/stylesheets/styles.css"
/>
<!-- header -->
<div class="col-12">
  <section>
    <div class="header container text-center">
      <div class="row align-items-start">
        <div class="col">
          <div class="row">
            <p>(Logo Beef Burgers)</p>
            <h5>Top Notch</h5>
          </div>
        </div>
        <div class="col">
          <p><i class="fa fa-phone"></i>773-445-7218</p>
          <p>Hours: Mon - Sat, 8am-8pm</p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Navbar -->
<div class="col-12">
  <section>
    <div class="d-flex justify-content-evenly">
      <div class="btn btn-outline-secondary">
        <a href="/">Home</a>
      </div>
      <div class="btn btn-outline-secondary">
        <a href="/lunchanddinner">Menu</a>
      </div>
      <div class="btn btn-outline-secondary">
        <a href="">Carryout</a>
      </div>
      <div class="btn btn-outline-secondary">
        <a href="">Order Online</a>
      </div>
    </div>
  </section>
</div>
<!-- Menu screen -->
<div class="container">
  <div class="row">
    <div class="col-12"><br /></div>
    <div class="col-3 sidebar rounded">
      <!-- Navbar -->
      <nav
        class="navbar rounded"
        style="background-color: red"
      >
        <!-- Breakfast -->
        <div
          class="container-fluid pt-2"
          style="background-color: red"
        >
          <a
            class="navbar-brand btn btn-primary bg-primary-subtle border border-primary-subtle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#breakfast"
            aria-expanded="false"
            aria-controls="breakfast"
            >Breakfast</a
          >
          <div style="min-height: 100%">
            <div
              class="collapse collapse-vertical"
              id="breakfast"
            >
              <div
                class=""
                style="background-color: red"
              >
                <a
                  class="btn btn-outline-secondary mt-2"
                  href="#"
                  >Meals</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  3 Egg Omelets</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Eggs</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Sandwiches</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Toasted Bread</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Lunch/Dinner -->
        <div
          class="container-fluid pt-2"
          style="background-color: red"
        >
          <a
            class="navbar-brand btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#lunchdinner"
            aria-expanded="false"
            aria-controls="lunchdinner"
            >Lunch/Dinner</a
          >
          <div style="min-height: 100%">
            <div
              class="collapse collapse-vertical"
              id="lunchdinner"
            >
              <div
                class=""
                style="background-color: red"
              >
                <a
                  class="btn btn-outline-secondary mt-2"
                  href="#"
                  >Appetizers</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Soup</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Salads</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Chickenn Varieties</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Sandwiches</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Beef Burgers</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="/lunchanddinner/turkeyburgers"
                >
                  Turkey Burgers</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Buttery-Rich Melts</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Platters</a
                >
                <hr />
                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Sides</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Beverages -->
        <div
          class="container-fluid pt-2"
          style="background-color: red"
        >
          <a
            class="navbar-brand btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#beverages"
            aria-expanded="false"
            aria-controls="beverages"
            >Beverages</a
          >
          <div style="min-height: 100%">
            <div
              class="collapse collapse-vertical"
              id="beverages"
            >
              <div
                class=""
                style="background-color: red"
              >
                <a
                  class="btn btn-outline-secondary mt-2"
                  href="#"
                  >Milk & Juice</a
                >
                <hr />

                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Soft Drinks</a
                >
                <hr />

                <a
                  class="btn btn-outline-secondary"
                  href="#"
                >
                  Milkshakes</a
                >
              </div>
            </div>
          </div>
        </div>
        <!-- Kids Mneu -->
        <div
          class="container-fluid pt-2"
          style="background-color: red"
        >
          <a
            class="navbar-brand btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#kidsmenu"
            aria-expanded="false"
            aria-controls="kidsmenu"
            href="#"
            >Kids Menu</a
          >
        </div>
      </nav>
    </div>
    <!-- Menu page -->
    <div class="col-9 menu-items">
      <div class="row">
        <div class="col-12 text-center">
          <h4>Salads</h4>
          <p>
            All salads come with your choice of Ramnch, Frnech, Italian, 1000
            Island, or Greek Dressing
          </p>
        </div>
        <div class="col-6 text-center">
          <ul>
            <li>Garden Salad</li>
            <li>Grilled Chicken Salad</li>
            <li>Cajun Chicken Salad</li>
          </ul>
          <img
            class="food-thumbnail"
            src=""
            alt=""
          />
        </div>
        <div class="col-6 text-center">
          <ul>
            <li>Greek Salad</li>
            <li>Greek Salad with Grilled Chicken</li>
            <li>
              Cottage Cheese Salad <br />
              With Peaches or Tomatoes
            </li>
          </ul>
          <img
            class="food-thumbnail"
            src=""
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- About and Media -->
<div class="col-12">
  <section>
    <div class="about-&-media container text-center">
      <div class="row align-items-start">
        <div class="col">
          <h2>Top Notch</h2>
          <p>
            <a href="https://maps.app.goo.gl/5dqFaps7eGoZG3qN9">
              <i
                class="fa fa-map-marker"
                aria-hidden="true"
              ></i>
              <!-- <i class="fas fa-map-marker-alt"></i> -->
              2116 W 95th St. Chicago, IL 60643</a
            >
          </p>
          <p>
            <a href="tel:773-445-7218"
              ><i class="fa fa-phone"></i>773-445-7218</a
            >
          </p>
          <p>Hours: Mon - Sat, 8am-8pm</p>
        </div>
        <div class="col">
          <p><a href="">About us</a></p>
          <p>
            <a href="https://www.facebook.com/topnotchbeverly"
              >Follow Us on Facebook</a
            >
          </p>
          <p>
            <a
              href="https://www.yelp.com/biz/top-notch-beef-burgers-chicago?start=20"
              >Reviews on Yelp</a
            >
          </p>
        </div>
      </div>
      <div class="text-center">
        <!-- Image of the building -->
        <img
          src="/images/topnotch-building.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<div class="col-12">
  <footer class="footer py-2 mt-auto">
    <div
      class="container"
      style="text-align: center"
    >
      <span class="text-muted">&copy; 2023 TopNotch BeefBurgers</span>
    </div>
  </footer>
</div>
